header {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-links {

    display: flex;
    column-gap: 50px;
  }

  .navigation,
  .header-icons {
    display: flex;
  }

  .navigation {
    column-gap: 60px;

    a {
      color: $secondaryColor;
    }
  }

  .header-icons {
    column-gap: 20px;
  }
}
