.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - $headerHeight);

  .hero-text {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -1px;
    color: $primaryColor;
    line-height: 70px;

    .name {
      background: linear-gradient(90deg, rgba(19, 176, 245, 1) 0%, rgba(231, 15, 170, 1) 100%);
      background-clip: text;
      color: transparent;
    }
  }

  .avatar-wrapper {
    width: 350px;
    flex-shrink: 0;
    height: 350px;
    border-radius: 50%;
    padding: 9px;
    background: linear-gradient(180deg, rgba(231, 15, 170, 1) 0%, rgba(0, 192, 253, 1) 100%);
    display: inline-block;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      display: block;
      border-radius: 50%;
    }
  }
}
