.hero {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - $headerHeight);

  .avatar-wrapper {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 9px;
    background: linear-gradient(180deg, rgba(231, 15, 170, 1) 0%, rgba(0, 192, 253, 1) 100%);
    display: inline-block;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      display: block;
      border-radius: 50%;
    }
  }
}
