.projects{
  .projects-list{
  display: grid;
  grid-template-columns: auto;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;  
div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
  }
}

@media (min-width: 320px){

.projects{
  .projects-list{
  grid-template-columns: auto auto;
  }
}
}

@media (min-width: 768px){

.projects{
  .projects-list{
  grid-template-columns: auto auto auto;
  }
}
}
