.projects{
  .projects-list{
  display: grid;
  grid-template-columns: auto;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;  
  justify-content: center;
    .project {
      background-color: #f1f1f1;
      color: #000;
      font-size: 30px;
      text-align: center;
      max-width: 375px;
      border-radius: 20px;
      overflow: hidden;
      .cover-container{
        width: 100%;
        height: 260px;
        .cover{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .project-content-container{
        padding: 20px;
      }
    }
  }
}

@media (min-width: 576px){

.projects{
  .projects-list{
  grid-template-columns: auto auto;
  }
}
}

@media (min-width: 768px){

.projects{
  .projects-list{
  grid-template-columns: auto auto auto;
  }
}
}
