.projects{
  .projects-list{
  display: grid;
  grid-template-columns: auto;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;  
  justify-content: center;
    .project {
      display: flex;
      flex-direction: column;
      background-color: #f1f1f1;
      color: #000;
      font-size: 30px;
      text-align: center;
      max-width: 375px;
      border-radius: 20px;
      overflow: hidden;
      .cover-container{
        width: 100%;
        height: 260px;
        .cover{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .project-content-container{
        padding: 20px;
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        h2{
          font-size: 28px;
          font-weight: 500;
        }
        p, h3{
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          color: $secondaryColor;
          text-align: start;
        }
        h3{
          display: flex;
          column-gap: 10px;
          label{
            font-weight: 500;
            color: $primaryColor;
           white-space: nowrap;
          }
          ul{
            display: flex;
            flex-wrap: wrap;
          }

        }
        .links-container{
          display: flex;
          justify-content: space-between;
          .project-link{
            display: flex;
            column-gap: 12px;
            align-items: center;
            .project-link-icon{
              width: 20px;
              height: 20px;
              display: block;
            }
            span{
              text-decoration: underline;
              font-size: 16px;
              line-height: 26px;
              color: black
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px){

.projects{
  .projects-list{
  grid-template-columns: auto auto;
  }
}
}

@media (min-width: 768px){

.projects{
  .projects-list{
  grid-template-columns: auto auto auto;
  }
}
}
