.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 50px;

  scroll-margin-top: $headerHeight;
  margin-top: 100px;
  margin-bottom: 100px;

  h2,
  p {

    text-align: center;
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    color: $primaryColor;
  }

  p {
    color: $secondaryColor;
    font-size: 32px;
  }

  .stack-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .stack-logo {
      margin: 10px;
      width: 120px;
      height: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain
      }
    }
  }
}

@media(max-width: 780px) {
  .tech-stack {
    .stack-logos {
      .stack-logo {
        width: 90px;
        height: 90px;
      }
    }
  }
}
