.tech-stack {
  .stack-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .stack-logo {
      margin: 10px;
      width: 120px;
      height: 120px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain
      }
    }
  }
}

@media(max-width: 780px) {
  .tech-stack {
    .stack-logos {
      .stack-logo {
        width: 90px;
        height: 90px;
      }
    }
  }
}
